<input type="hidden" name="slots-TOTAL_FORMS" value="{{ formset.total_form_count }}" id="id_slots-TOTAL_FORMS"
       hx-swap-oob="true">
<input type="hidden" name="slots-INITIAL_FORMS" value="{{ formset.initial_form_count }}" id="id_slots-INITIAL_FORMS"
       hx-swap-oob="true">
<input type="hidden" name="slots-MIN_NUM_FORMS" value="{{ formset.min_num }}" id="id_slots-MIN_NUM_FORMS"
       hx-swap-oob="true">
<input type="hidden" name="slots-MAX_NUM_FORMS" value="{{ formset.max_num }}" id="id_slots-MAX_NUM_FORMS"
       hx-swap-oob="true">