{% load crispy_forms_filters %}

<div class="slot" id="slot{{ slot_index }}">

    <button class="btn btn-light slot-title" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling{{ slot_index }}"
            aria-controls="offcanvasScrolling{{ slot_index }}">
        Slot {{ slot_index }}
    </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="offcanvasScrolling{{ slot_index }}" aria-labelledby="offcanvasScrollingLabel{{ slot_index }}">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel{{ slot_index }}">Slot {{ slot_index }}</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {{ form|crispy }}
            <input type="hidden" name="slots-{{ slot_index }}-DELETE" id="id_slots-{{ slot_index }}-DELETE">

            <button type="button" class="remove-slot btn btn-danger"
                    hx-get="{% url 'delete-slot-form' index=slot_index %}"
                    hx-on:click="removeSlot(this)" data-slot-id="#slot{{ slot_index }}">
                Remove Slot
            </button>
        </div>
    </div>
</div>