@font-face {
  font-family: 'Arial Bold';
  src: url('/static/fonts/arial-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url('/static/fonts/arial.ttf') format('truetype');
}