#card-preview {
  background: $transparent-png-bg;
  position: relative;
  width: $card-preview-width;
  height: $card-preview-height;

  #outline-preview {
    width: 100%;
    height: auto;
    position: absolute;
  }

  #slots-preview {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .image-slot-gem-container {
      position: absolute;
      display: inline-block;
      cursor: grab;
      width: 100px;
      height: 100px;


      .image-slot-container {
        position: absolute;
        z-index: 1;
        width: inherit;
        height: auto;

        img.slot-image {
          transition: width 0.3s ease;
          width: inherit;
          height: auto;
          display: block;
        }
      }

      .image-gem-container {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img.gem-image {
          cursor: move;
          width: 100%;
          height: 100%;
        }
      }

      .slot-text-container {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        font-family: 'Arial Bold', serif;
        color: white;

        .slot-text {
          z-index: 2;
          font-size: 50px;
          text-align: center;
        }
      }
    }
  }
}
