{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container mt-4 d-flex flex-column position-relative">

        <h1>{% if is_update %}Modifier{% else %}Créer{% endif %} la carte</h1>
        <div class="row">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <h2>Infos de la carte</h2>
                            {{ card_details_form|crispy }}
                        </div>
                    </div>
                    <hr>

                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <h2>Outline</h2>
                            {{ outline_form|crispy }}
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2>Slots</h2>
                                <div class="align-self-end">
                                    <button class="btn btn-info btn-sm" type="button"
                                            hx-get="{% url 'create-slot-form' %}" hx-swap="beforeend"
                                            hx-target="#slots-container"
                                            hx-vals="js:{total_forms: document.getElementById('id_slots-TOTAL_FORMS').value}">
                                        Add Slot
                                    </button>
                                </div>
                            </div>
                            {{ slot_formset.management_form }}
                            <div class="d-flex flex-row flex-wrap gap-2" id="slots-container">
                            </div>
                        </div>
                    </div>

                    <div class="position-absolute bottom-0">
                        <button type="submit" class="btn btn-primary">{% if is_update %}Modifier{% else %}
                            Créer{% endif %} la carte
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-1">
                <div class="vertical-separator"></div>
            </div>

            <div class="col-md-3">
                <div id="card-preview">
                    <div id="outline-preview"></div>
                    <div id="slots-preview"></div>
                </div>
            </div>
        </div>
    </div>

    {% if is_update %}
        <script type="application/json" id="initial-slots-data">
            {{ slots|safe }}
        </script>
    {% endif %}
    <script type="text/javascript">
        const createSlotUrl = "{% url 'create-slot-form' %}";
        const presetDetailsBaseUrl = "{% url 'preset-details' 1 %}".replace('/1/details', '');
        const isUpdate = {{ is_update|yesno:"true,false" }};
    </script>
    <script src="{% static 'js/create_card.js' %}"></script>
    <script src="{% static 'js/preset.js' %}"></script>
{% endblock %}
